/*
 *
 *
 */
@font-face {
    font-family: 'Verdana Regular';
    src: url('fonts/ofont_ru_Verdana.eot');
    src: url('fonts/ofont_ru_Verdana.eot') format('embedded-opentype'),
         url('fonts/ofont_ru_Verdana.woff2') format('woff2'),
         url('fonts/ofont_ru_Verdana.woff') format('woff'),
         url('fonts/ofont_ru_Verdana.ttf') format('truetype'),
         url('fonts/ofont_ru_Verdana.svg#ofont_ru_Verdana') format('svg');
}

a:focus{
	text-decoration: none;
}

/*===== Section header-lend =====*/
#header-lend
{
	width: 100%;
    display: -webkit-box;
    height: 650px;
    background: url(../img/fon.jpg) no-repeat center;
}
#header-lend #menu-icon
{
	display: none;
}
.padding
{
    padding-top: 10px;	
}
.show_top_nav
{
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 80px;
    position: fixed;
    background-color: #d8f0fc;
    width: 100%;
    z-index: 99;
}
.nav-container
{
    max-width: 1200px;
    margin: auto;	
}

#header-lend .logo
{
	width: 100%;
}
#header-lend .nav
{
	height: 100px;
	padding: 30px;
}

#header-lend .nav a
{
	color: #092a5e;
	padding: 5px;
	margin: 0 36px;
	text-decoration: none;
	font-size: 18px;
	font-family: Verdana Regular;	
}
#header-lend .show_top_nav .nav a
{
	color: #092a5e;
}
#header-lend .nav a:hover,
#header-lend .nav .active > a
{
	border-bottom:	2px solid #da2128;
	padding: 5px;
}
#header-lend .nav-tel
{
	padding: 30px 0;
}
#header-lend .nav-tel a 
{
	color: #fff;
	font-size: 16px;
	font-family: Verdana Regular;
}
#header-lend .nav-tel a:hover
{
	text-decoration: none;
	background-color: #4c839d;
}
#header-lend .nav-tel a span
{
	margin-top: 5px; 
}
#header-lend .tel
{
	background-color: #004e74;
	padding: 10px 25px;
	border: 1px solid black;
    border-radius: 5px;
}
#header-lend .tel-desc
{
	display: initial;	
}
#header-lend .tel-mob
{
	display: none;
}
#header-lend .header-text
{
	height: 360px;
    width: 725px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
#header-lend .header-text h1
{
	padding-top: 40px;
	margin: 10px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 38px;
	text-align: center;
	color: #092a5e;
}
#header-lend .header-text p
{
	margin: 0px;
	font-family: Verdana Regular;
	font-size: 26px;
	text-align: center;
	color: #092a5e;
}
#header-lend .header-text-left
{
    margin-top: 20px;
    text-align: right;
}
#header-lend .red-button
{
	padding: 15px 30px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 16px;
	color: white;
	background: linear-gradient(to top, #b8282f, #e51d25);
	border-radius: 10px;
	border: 1px solid #9c1b21;
	cursor: pointer;
}
#header-lend .header-text-left a:hover
{
	text-decoration: none;
	background: #b60009;
}
#header-lend .header-text-right
{
    margin-top: 20px;
    text-align: left;
}
#header-lend .green-text
{
	font-family: Verdana Regular;
	font-size: 18px;
	border-bottom: 1px solid #092a5e;
	color: #092a5e;
	cursor: pointer;
}

#header-lend .header-text-right a:hover
{
	text-decoration: none;
	border-bottom: 1px solid #70cbf4;
	color: #70cbf4;
}
.header-text input
{
	margin-top: 27px;
    text-align: center;
    font-family: Verdana Regular;
    font-size: 16px;
    color: #000;
    width: 90%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #6d6e71;
}
.headerInput
{
	width: 100%;
	text-align: center;
	margin: auto;
	margin-bottom: 10px !important;
	margin-top: -10px !important;
}
.input-group
{
	float: left;
    width: 50%;
}
.btnSend
{
	margin: 20px auto;
	text-align: center;
}

/* z-index */
.z-index
{
	z-index: 9999;
}

/*===== Section five-reasons =====*/
#five-reasons .text-five-reasons
{
	text-align: center;
	margin: 60px 0px;
	display: -webkit-box;
	width: 100%;
}
#five-reasons h2
{
	margin-bottom: 60px;
	font-family: Verdana Regular;
	font-size: 36px;
	color: #092a5e;
}
.blue-circle
{
	margin: 0 auto;
	padding: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #70cbf4;
}
.blue-img
{
	height: 50px;
    width: 50px;
}
#five-reasons .text-top
{
	margin-top: 10px;	
}
#five-reasons h4
{
	margin: 0px;
	font-family: Verdana Regular;
	font-size: 22px;
	color: #092a5e;
}
#five-reasons p
{
	margin: 0px;
	font-family: Verdana Regular;
	font-size: 16px;
	color: #353535;
}

/*===== Section five-reasons =====*/
#all-on-the-sea
{
	width: 100%;
	text-align: center;
	display: -webkit-box;
	background-color: #ed1c24;
}
#all-on-the-sea h2
{
	margin: 0px;
	font-family: Verdana Regular;
	font-size: 48px;
	color: #ffffff;	
}

/*===== Section section-blue-text =====*/
#section-blue-text
{
	width: 100%;
	text-align: center;
	display: -webkit-box;
	background-color: #d7f0fc;
}
#section-blue-text .blue-text
{
	margin: 25px auto;
}
#section-blue-text p
{
	font-family: Verdana Regular;
    font-size: 18px;
    color: #343434;
    max-width: 780px;
    margin: auto;		
}

/*===== Section popularini_tours_in_turechchin =====*/
#popularini_tours_in_turechchin{
	text-align: center;
	display: flow-root;
	padding: 75px 0 0 0;
}
#popularini_tours_in_turechchin .row
{
	display: inline-block;
}
.online-selection-tour-form .row {
    margin-left: 0px;
    margin-right: 0px;
}
#popularini_tours_in_turechchin h2
{
	margin: 0px;
	margin-bottom: 60px;
	font-family: Verdana Regular;
	font-size: 36px;
	color: #092a5e;
}
#popularini_tours_in_turechchin .col-md-6:nth-child(2n+1)
{
	clear: both;
}
.about-tour
{
	max-width: 585px;
	min-height: 200px;
	display: flow-root;
	background: #f3f1ed;
	text-align: center;
	margin-bottom: 60px;
}
.about-tour .header-owl-carousel
{
	height: 100%;
	position: relative;
}
.about-tour .tour-name
{
	position: absolute;
    background: #092a53;
    z-index: 1;
    width: 180px;
    padding: 7px;
    font-family: Verdana Regular;
    font-size: 18px;
    color: #fff;
}
.about-tour .owl-carousel
{
	overflow: hidden;
	max-width: 585px;
	width: 100%;
}
.about-tour .owl-item
{
    display: -webkit-inline-box;	
}
.about-tour .owl-carousel-slide
{
	width: 100%;
	height: 250px;
}
.about-tour .owl-carousel-slide img
{
	width: 100%;
	height: 250px;
}
/* owlCarousel nav off */
.owl-nav
{
	display: none !important;
}/* end */
.about-tour .owl-carousel .owl-nav > div
{
	position: absolute;
    top: 48%;
    font-size: 20px;
    padding: 5px 0;
    cursor: pointer;
    color: #fff;
    background: #092a53;
    line-height: 20px;
    width: 32px;
    height: 32px;
    -moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;	
}
.about-tour .owl-carousel .owl-nav > div:hover
{
	color: #092a53;
    background: #fff;
}
.about-tour .owl-carousel .owl-prev
{
    left: 0px;
}
.about-tour .owl-carousel .owl-next
{
    right: 0px;
}
.about-tour .header-about-tour
{
	text-align: left;
}
.about-tour .text-about-tour
{
	font-family: Verdana Regular;
	text-align: left;
	padding: 36px;
	display: flow-root;
}
.about-tour .header-about-tour
{
	margin: 0px;
	font-size: 23px;
	color: #000000;
	margin-bottom: 20px;
}
.about-tour .p-about-tour p
{
	margin: 0px;
	color: #737373;
	font-size: 12px;
    display: inline-flex;
    margin-right: 8px;
    margin-bottom: 8px;
}
.about-tour .price
{
	float: left;
	width: 60%;
	text-align: left;
    padding-top: 15px;
}
.about-tour.price .from-price
{
	font-size: 12px;
}
.about-tour .price .tour-price
{
	font-size: 24px;
}
.about-tour .price-button
{
	float: left;
	width: 40%;
	text-align: left;
	padding-top: 10px;
}
.about-tour .fa
{
    padding: 2px 0;
}

#section-fotter .red-button,
.about-tour .red-button
{
    padding: 10px 0;
    width: 100%;
    display: block;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background: linear-gradient(to top, #b8282f, #e51d25);
    border-radius: 10px;
    border: 1px solid #9c1b21;
}
.about-tour a:hover,
.about-tour .red-button:hover
{
	text-decoration: none;
	background: #b60009;
}
.form-error
{
	font-family: Verdana Regular;
	font-size: 14px;
	color: #df1e26!important;
	text-align: left;
	display: none;
}
.borderErr
{
	border: 1px solid #df1e26!important;
}
.borderErr::-webkit-input-placeholder
{
	color: red;
}
.borderErr::-moz-placeholder
{
	color: red;
}
.borderErr:-ms-input-placeholder
{
	color: red;
}
.borderErr:-moz-placeholder
{
	color: red;
}
.fontError
{
	color: #df1e26!important;
}
#Form .check-error label:after,
#selectionTourForm .check-error label:after,
#Form-section-fotter .check-error label:after,
#online-selection-form .check-error label:after
{
	outline: 1px solid #df1e26!important;
}
input:focus,
button:focus {
    outline: none;
}

/*===== Section more-ukrainian =====*/
.more-ukrainian
{
	width: 100%;
	text-align: center;
	display: inline-block;
	background-color: #d7f0fc;
}
.more-ukrainian .container
{
	margin: 40px auto;
}
.more-ukrainian  h2
{
	margin: 5px;
	font-family: Verdana Regular;
	font-size: 34px;
	color: #092a5e;		
}
.more-ukrainian p
{
	margin: 5px;
	margin-bottom: 40px;
	font-family: Verdana Regular;
	font-size: 20px;
	color: #092a5e;		
}
.more-ukrainian p span
{
	white-space: nowrap;
}

/*===== Section online-selection-tour =====*/
#online-selection-tour
{
	display: block;	
}
#online-selection-tour .container
{
	margin-top: 62px;
}
#online-selection-tour .online-selection-tour-form
{
	margin-bottom: 65px;
}
#online-selection-tour .online-selection-tour-form .row
{
	padding: 30px;
	display: table;
    background: #e7e4db;
}
#online-selection-tour .online-selection-tour-form .h2-form
{
	text-align: center;
	font-family: Verdana Regular;
	font-size: 26px;
	color: #000;
	margin-bottom: 11px;	
}
#online-selection-tour .col-md-6:nth-child(2n+1)
{
	clear: both;
}
#online-selection-tour .online-selection-tour-form .p-form
{
	text-align: center;
	font-family: Verdana Regular;
	font-size: 16px;
	color: #000;
}
#section-fotter input,
#online-selection-tour .online-selection-tour-form input
{
	margin-top: 27px;
	text-align: center;
	font-family: Verdana Regular;
	font-size: 16px;
	color: #000;
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #6d6e71;
}
#online-selection-tour .select2-container 
{
	margin-top: 27px !important;
	text-align: center !important;
	font-family: Verdana Regular !important;
	font-size: 16px !important;
	color: #000 !important;
	width: 100% !important;
	height: 44px !important;
	border-radius: 5px !important;
	border: 1px solid #6d6e71 !important;
}
.select2-container .select2-selection--single
{
    height: 100%;
}
.select2-container--default .select2-selection--single
{
    border: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    height: 40px;
}
#select2-select-town-container:focus
{
	outline: 0;
}
.select2-selection
{
	outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
{
    line-height: inherit;
}
#Form #select2-select-town-container,
#selectionTourForm #select2-select-town-container,
#section-fotter .#select2-select-town-container
{
	 line-height: inherit;
}
#online-selection-form .select2-container--default,
#online-selection-form .select2-selection--single,
#online-selection-form .select2-selection__rendered
{
    line-height: 40px;
}
#Form .select2-container,
#selectionTourForm .select2-container,
#section-fotter .select2-container
{
	width: 100% !important;
	padding: 10px;
    display: block;
    text-align: left;
    font-family: Verdana Regular;
    font-size: 16px;
    color: #000;
    max-width: 350px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #0f587c;
    background: white;
	margin: auto;
}
#section-fotter .select2
{
    margin-top: 27px;
    text-align: center;
    font-family: Verdana Regular;
    font-size: 16px;
    color: #000;
    width: 100% !important;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #6d6e71;	
}
#section-fotter .red-button,
#online-selection-tour .online-selection-tour-form .red-button
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 16px;
	color: white;
	background: linear-gradient(to top, #b8282f, #e51d25);
	border-radius: 10px;
	border: 1px solid #9c1b21;
}
#section-fotter .red-button:hover,
#online-selection-tour .online-selection-tour-form .red-button:hover
{
	background: #b60009;
}
/*===== Section online-selection =====*/
#section-fotter,
.online-selection
{
    display: flow-root;	
}
#section-fotter .blue-fon,
.online-selection .blue-fon
{
	display: inline-block;
	text-align: center;
	background: url(../img/blue-fon.jpg) 100% 100% repeat;
}
#section-fotter .head-online-selection,
.online-selection .head-online-selection
{
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: Verdana Regular;
	font-size: 34px;
	color: #fff;
	text-transform: uppercase;
}
#section-fotter .p-online-selection,
.online-selection .p-online-selection
{
	margin: 0 0 10px 0;
	font-family: Verdana Regular;
	font-size: 18px;
	color: #fff;
}
#section-fotter .font-size-22,
.online-selection .font-size-22
{
	font-size: 22px;
	margin-bottom: 50px;
}
#section-fotter .white-button,
.online-selection .white-button
{
	margin: 20px auto 40px auto;
	font-family: Verdana Regular;
	font-size: 18px;
	color: #092a5e;
	padding: 15px;
    width: 280px;
	display: inline-block;
	background: #fff;
	border-radius: 5px;
	max-width: 280px;
	cursor: pointer;
}
#section-fotter  .blue-fon a:hover,
.online-selection  .blue-fon a:hover
{
	text-decoration: none;
	background-color: #d7f0fc;
}
/*===== Section advantages =====*/
#advantages .head-advantages-text
{
	margin-top: 80px;
	margin-bottom: 60px;
	text-align: center;
	font-family: Verdana Regular;
	font-size: 36px;
	color: #092a5e;
}
#advantages .text-advantages {
    margin-bottom: 50px;
    display: inline-block;
}
#advantages .h3-advantages
{
	font-family: Verdana Regular;
	font-size: 24px;
	color: #092a5e;
	margin: 0px;
}
#advantages .p-advantages
{
	font-family: Verdana Regular;
	font-size: 16px;
	color: #737373;
	margin: 20px 0px;
}
.grey-button{
	font-family: Verdana Regular;
	font-size: 18px;
	color: #092a5e;
	padding: 15px 90px;
	text-align: center;
    background: #f3f1ed;
    border-radius: 5px;
    margin-bottom: 80px;
}
.text-center-show-more
{
	text-align: center;
	cursor: pointer;
	margin-bottom: 120px;
}
.text-center-show-more a:hover
{
	text-decoration: none;
	color: #fff;
	background: #004e74;
}

/*===== Section popular-resorts =====*/
#banner-before-hotels {
	padding: 0 0 30px 0;
}
#banner-before-hotels  a:hover{
	cursor: pointer;
}
#popular-resorts
{
	background-color: #f4fbff;
    display: inline-block;
    width: 100%;
    margin-bottom: -5px;
}
#popular-resorts .col-lg-4:nth-child(3n+1)
{
	clear: both;
}
#popular-resorts .head-popular-resorts
{
	font-family: Verdana Regular;
	font-size: 36px;
	color: #092a5e;
	margin-top: 80px;
    margin-bottom: 50px;	
	text-align: center;
}
#popular-resorts .about-tour
{
	background-color: #fff;
	margin-bottom: 30px;
	border: 1px solid #d9f1ff;
}
#popular-resorts .about-tour .tour-name
{
    top: 1px;
	min-width: 180px;
}
#popular-resorts .about-tour img
{
    width: 100%;
    height: 200px;	
}
#popular-resorts .about-tour p
{
	font-family: Verdana Regular;
	font-size: 15px;
	color: #272727;
	margin: 0px;
	margin-bottom: 20px;
    text-align: left;
}
#popular-resorts .text-center
{
	margin-top: 40px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 120px;
}
#popular-resorts .text-center a:hover
{
	text-decoration: none;
	color: #fff;
	background: #004e74;
}
#popular-resorts .text-popular-resorts
{
    padding: 20px 35px;	
}
#popular-resorts .text-popular-resorts a
{
    font-family: Verdana Regular;
    font-size: 18px;
    color: #092a5e;
    background-color: #70cbf4;
    padding: 10px;
    width: 100%;
    display: block;
    cursor: pointer;
}
#popular-resorts .text-popular-resorts a:hover
{
	background-color: #2f9dcd;
	color: #fff;
}
#popular-resorts .hidden-about-tour
{
	display: none;
}
/*===== Section map =====*/
#map
{
	background-color: #d7d2c3;
    display: -webkit-box;
}
#map .flex
{
    display: flex;	
}
#map .logo-map
{
	width: 100%;
	height: 100%;
}
#map .text-map
{
	font-family: Verdana Regular;
    font-size: 20px;
    color: #092a5e;
}
#map .map
{
	margin: 60px 0;
}
#map .div-map
{
	margin: auto;
}	
/*===== Section section-fotter =====*/
#section-fotter .blue-fon
{
	display: flex;
}
#section-fotter .head-online-selection
{
    margin-top: 75px;	
}
#section-fotter .p-online-selection
{
	margin-bottom: 12px;
}
#section-fotter .col-md-2-5
{
	width: 50%;
	float: left;
	position: inherit;
}
#section-fotter .col-md-2-5:nth-child(odd)
{
	padding-right: 15px; 
}
#section-fotter .col-md-2-5:nth-child(even)
{
	padding-left: 15px; 
}
#section-fotter .red-button
{
	font-family: Verdana Regular;
    font-size: 22px;
	height: 116px;
}
#section-fotter  .div-section-fotter
{
	margin-bottom: 75px;
	display: inline-block;
}
/*===== Section Form =====*/
.g-hidden
{
	display: none;
}
.box-modal
{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 445px;
    position: relative;
}
.box-modal .header-form
{
	margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
	font-family: Verdana Regular;
	font-weight: bold;
    font-size: 22px;
	color: #004e74;
}
.box-modal  .about-header-form
{
	margin-bottom: 10px;
    text-align: center;
	font-family: Verdana Regular;
    font-size: 14px;
	color: #004e74;
}	
.box-modal input
{
	margin: 5px auto;
	padding: 10px;
	display: block;
	text-align: left;
	font-family: Verdana Regular;
	font-size: 16px;
	color: #000;
	width: 100%;
	max-width: 350px;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #0f587c;
}
.arcticmodal-container .box-modal input
{
	margin: 0px auto;
}
.box-modal .red-button
{
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    width: 100%;
	max-width: 350px;
    background: linear-gradient(to top, #b8282f, #e51d25);
    border-radius: 10px;
    border: 1px solid #9c1b21;
}
.box-modal .red-button:hover
{
	text-decoration: none;
	background: #b60009;
}
.box-modal p
{
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Verdana Regular;
	font-size: 12px;
	color: #004e74;
	max-width: 335px;
    margin: auto;
}
.box-modal .form-checkbox
{
    margin: 2px 0;
    height: 15px;
    border-radius: 0px;
    float: left;
    width: 15px;
}
.box-modal .p-form-checkbox
{
    cursor: pointer;
    margin: 2px auto;
    padding: 10px 20px;
    color: #555;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.arcticmodal-close
{
    position: absolute;
	top: -20px;
    right: -12px;
    color: white;
    font-size: 16px;
    cursor: pointer;	
}
.div-input
{
	position: relative;
	margin-bottom: 15px;
}
.input-placeholder
{
	display: none;
	font-family: Verdana Regular;
	font-size: 12px;
	color: #004e74;
	position: absolute;
    top: -10px;
    left: 20px;
    background-color: #fff;
}

#online-selection-tour .input-placeholder
{
    top: 11px;
    left: 25px;
    background-color: initial;
}
#section-fotter .input-placeholder
{
    top: 10px;
    left: 15px;
    background-color: initial;
    color: white;
}
#section-fotter .col-md-2-right .input-placeholder
{
	left: 30px;
}
#section-fotter .input-emeil-placeholder .input-placeholder
{
	top: 80px;
    left: 30px;
}
#Form .checkbox,
#selectionTourForm .selection-checkbox
{
	position:relative;
	padding-left:25px;
	max-width: 350px;
}
#Form-section-fotter .section-fotter-checkbox,
#online-selection-form .online-selection-checkbox
{
	position:relative;
	padding-left:25px;
	max-width: 100%;
	text-align: left;
    margin-top: 20px;
}
#Form-section-fotter .section-fotter-checkbox label,
#online-selection-form .online-selection-checkbox label
{
	padding-left: 20px;
}
#Form .checkbox input[type=checkbox],
#selectionTourForm .selection-checkbox input[type=checkbox],
#Form-section-fotter .section-fotter-checkbox input[type=checkbox],
#online-selection-form .online-selection-checkbox input[type=checkbox]
{
	display:none;
}
#Form .checkbox label:after,
#selectionTourForm .selection-checkbox label:after,
#Form-section-fotter .section-fotter-checkbox label:after,
#online-selection-form .online-selection-checkbox label:after
{
    content: '';
    display: block;
    height: 14px;
    width: 14px;
    outline: 1px solid #0f587c;
    position: absolute;
    top: 3px;
    left: 25px;
    margin-bottom: 40px;
}
#Form .checkbox input[type=checkbox]:checked + label:after,
#selectionTourForm .selection-checkbox input[type=checkbox]:checked + label:after,
#Form-section-fotter .section-fotter-checkbox input[type=checkbox]:checked + label:after,
#online-selection-form .online-selection-checkbox input[type=checkbox]:checked + label:after
{
	outline: 1px solid #0f587c;
    border: 2px solid #fff;
    width: 14px;
    height: 14px;
    background-color: #0f587c;
}
.span-form-checkbox:hover
{
    cursor: pointer;
    text-decoration: underline;
}
#selectionTourForm .col-md-2-5
{
	width: 48%;
	float: left;
}
#selectionTourForm .col-md-2-5:nth-child(even)
{
	padding-right: 2%; 
}
#selectionTourForm  .col-md-2-5:nth-child(odd)
{
	padding-left: 2%; 
}
#selectionTourForm .header-form
{
	margin-bottom: 0px;
}

.red-button:visited
{
	text-decoration: none;
}
#selectionTourForm .col-form
{
	float: none;
	width: 48%;
	display: inline-block;
}
#selectionTourForm .col-form:nth-child(1)
{
	margin-right: 4%;
}
#selectionTourForm .about-header-form
{
    max-width: 350px;
}
.box-modal-block-form
{
	width: 100%;
	max-width: 350px;
	display: flex;	
}

#online-selection-form .form-error,
#section-fotter .form-error
{
float: left;
position: absolute;	
}
#section-fotter .section-fotter-input
{
	position: inherit;
}
/* Autocomplete */
.ui-helper-hidden-accessible
{
	display: none;
}
datalist {
   height:50px !important;
   max-height:80px !important;
   overflow-y:auto;
   display:block !important;
}


@media (min-width: 1200px)
{
	#five-reasons .col-blue-circle
	{
		float: left;
		width: 20%;
		padding: 0px;
	}
	
	#header-lend .show_top_nav .logo
	{
    width: 80%;
    padding: 10px;
	}
}

@media (max-width: 1199px)
{
	.container-fluid
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	#header-lend .nav a 
	{
		margin: 0 10px;
	}
	#header-lend .logo
	{
		margin-top: 5px;
    }
    
    #five-reasons .col-blue-circle
    {
		margin-bottom: 35px;
	}
	.more-ukrainian h2
    {
    	font-size: 30px;
    }
    
	.online-selection .container
	{
	    margin: 0px;
	    padding: 0px;
	    width: 100%;
	}
	.online-selection .row
	{
		margin: 0px;
	    padding: 0px;
	}
    .online-selection .blue-fon
    {
    	width: 100%;
    }
	
    #advantages .h3-advantages
    {
    	font-size: 16px;
    }
    #advantages .p-advantages
    {
    	font-size: 11.5px;
    	margin: 10px 0px;
    }
    
    #map .logo-map
    {
	    width: 125px;
	    float: right;
	    height: auto;
    }
    #map .div-map
	{
		margin: auto;
		padding-top: 40px;
	}	
	#map .flex
	{
    	display: flow-root;
	}
	#map .map
	{
    	width: 100%;
	}
	#map .text-map
	{
	    font-size: 16px;
	    width: 300px;
	}
	
	#section-fotter .head-online-selection
    {
    	font-size: 30px;
    }
    #section-fotter .red-button
	{
	    height: auto;
	}
	#popular-resorts .col-lg-4:nth-child(3n+1)
	{
	clear: none;
	}
	#popular-resorts .col-lg-4:nth-child(2n+1)
	{
	clear: left;
	}
}

@media (max-width: 992px)
{
	#header-lend
	{
		height: 520px;
    }
    #header-lend .logo
    {
		margin-top: 15px;
		max-width: 85px;
    }
	#header-lend .nav a 
	{
		font-size: 16px;
		margin: 0px;
	}
	#header-lend .tel
	{
		padding: 10px 12px;
	}
	#header-lend .tel-desc
	{
		display: none;
	}
	#header-lend .tel-mob
	{
		display: initial;;
	}
	#header-lend .header-text
	{
		width: 545px;
		margin: 150px auto;
    }
    #header-lend .header-text h1
    {
		font-size: 25px;	
	}
	#header-lend .header-text p
	{
		margin-bottom: 25px;
		font-size: 20px;
    }
    
    #five-reasons h2 
    {
		font-size: 30px;
    }
    #five-reasons p
    {
		font-size: 14px;
	}
    
    #all-on-the-sea h2
    {
		font-size: 30px;
    }
    
    #section-blue-text p
    {
		font-size: 16px;
		max-width: 690px;
    }
    
    #popularini_tours_in_turechchin
    {
		padding: 40px 0;
	}
	#popularini_tours_in_turechchin .row
	{
	    display: block;
	}
	#popularini_tours_in_turechchin h2
    {
		margin: 0;
		margin-bottom: 30px;
		font-size: 30px;
    }
    .about-tour
    {
		text-align: center;
		margin: 10px auto;
    }
    
    #online-selection-tour .online-selection-tour-form .row
    {
		max-width: 586px;
		margin: 20px auto;
    }
    
    #popular-resorts .about-tour .tour-name
    {
		top: 11px;
    }
	.headerInput
	{
		margin-top: -40px !important;
	}
	#header-lend .header-text h1 {
		padding-top: 0;
    }
	#header-lend .header-text
	{
		height: 260px;
	}
}

@media (max-width: 767px)
{
	 
	.blue-circle
	{
		padding: 16px;
		height: 80px;
		width: 80px;
    }
    	   
    #header-lend .nav-tel a
    {
    	font-size: 11px;
    }
    #header-lend .nav
    {
		padding: 0;
	    z-index: 10;
	}
	#header-lend .nav-tel
	{
		position: absolute;
    	padding: 30px 0px;
    	z-index: 9;
	}
	#menu-icon p
	{
		margin: 0;
		color: #004e74;
		font-size: 3em;
		padding-top: 10px;		
	}
    #header-lend #menu-icon
	{
		display: block;
		cursor: pointer;
	}
    #header-lend  .nav_mob_blok
    {
		display: none;
		position: fixed;
    	width: 100%;
    	right: 0px;
    	z-index: 9999;
   	    text-align: center;
    	background-color: #004e74;
	}
	#header-lend .nav a
	{
	    margin: 0px;
	    color: #fff;
	    width: 100%;
   		padding: 10px;
    	border: 1px solid white;
	    float: right;
	    text-decoration: none;
	    font-size: 14px;
	    font-family: Verdana Regular;
	}
	#header-lend .nav a:hover, #header-lend .nav .active > a
	{
	    color: #ff898e;
	    border-bottom: 1px solid white;
    	padding: 10px;
    }
    #header-lend .header-text
	{
    	height: auto;
    }
    #header-lend .header-text h1
    {
        font-size: 26px;
	}
	#header-lend .header-text
	{
	    width: 98%;
	    margin: 100px auto;
	}
	#header-lend .header-text-left
	{
    	padding-top: 20px;
    	text-align: center;
	}
    #header-lend .header-text-right
    {
	    text-align: center;
	    padding-bottom: 20px;
	}
	#five-reasons h2 {
    	font-size: 26px;
	}
	#all-on-the-sea
	{
		height: 60px;
	}
	#all-on-the-sea h2
	{
    	margin: 12px auto;
    	font-size: 26px;
	}
	#popularini_tours_in_turechchin h2
	{
    	font-size: 26px;
    }
    .about-tour .owl-carousel-slide img
    {
    	min-height: 135px;
    }
    .about-tour .tour-name
    {
	    width: 125px;
	    padding: 7px;
	    font-size: 12px;
    }
    .about-tour .header-about-tour
	{
		margin-bottom: 5px;
		font-size: 13px;
    }
    .about-tour .text-about-tour
    {
		padding: 10px;
    }
    .about-tour .p-about-tour p
    {
		font-size: 9px;
		margin: 0px;
    }
    .about-tour .price
    {
		padding-top: 15px;
    }
	.about-tour .price .from-price
	{
		font-size: 12px;	
	}
    .about-tour .price .tour-price
    {
		font-size: 14px;
	}
	.about-tour .red-button
	{
		padding: 4px 4px;
		border-radius: 3px;
		font-size: 13px;
    }		
	#online-selection-tour
	{
    	display: blok;
	}
	#online-selection-tour .container
	{
		margin-top: 40px;
	}

	#online-selection-tour .online-selection-tour-form .h2-form
	{
    	font-size: 20px;
    }
    #online-selection-tour .online-selection-tour-form .p-form
    {
    	font-size: 12px;
    }
	#online-selection-tour .online-selection-tour-form .row
	{
   		padding: 20px 0;
	}
	#online-selection-tour .my-form
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	#online-selection-tour .online-selection-tour-form
	{
    	margin-bottom: 30px;
	}
	#section-fotter input,
	#online-selection-tour .online-selection-tour-form input
	{
    	font-size: 12px;
    }
    #section-fotter .white-button, .online-selection .white-button
    {
		width: 100%;
    }
    #section-fotter .head-online-selection,
    .online-selection .head-online-selection
    {
		font-size: 26px;
    }
    .more-ukrainian h2
    {
    	font-size: 26px;
	}
	.more-ukrainian h2 span
	{
		white-space: nowrap;
	}
    .more-ukrainian p
    {
    	font-size: 12px;
    }
    
    .grey-button
    {
		padding: 8px;
		width: 100%;
    }
    #advantages .head-advantages-text {
		margin-top: 32px;
		margin-bottom: 40px;
		font-size: 26px;
    }
    #advantages .row
    {
		margin: 0px;
	}
    
    #advantages .text-advantages
    {
		margin-bottom: 0px;
    }
    .text-center-show-more
    {
		margin-top: 30px;
    }
    #popular-resorts .row
    {
		margin: 0px;
	}
    #map,
    #advice-expert
    {
		display: none;
	}
	#section-fotter input
	{
		width: 100%;
	}
	.form-error {font-size: 12px;}
	
	#popular-resorts .col-lg-4:nth-child(n)
	{
	clear: left;
	}
	#advantages .container
    {
		padding: 0px;
		margin-bottom: 75px;
	}
	.text-center-show-more
    {
    	padding-top: 20px;
	}
	.arcticmodal-container .box-modal input
	{
    margin: 5px auto;
	}
	.arcticmodal-container .box-modal #email
	{
    margin: 10px auto;
	}
	.arcticmodal-container .input-placeholder
	{
        top: -8px;
    }
    .arcticmodal-container .box-modal-block-form .input-placeholder
    {
		top: -4px;
	}
	.input-group
{
    width: 100%;
    margin: -10px auto;
}

.btnSend
{
	margin: 15px auto !important;
}
#header-lend .red-button
{
	margin-top: 20px;
}
#header-lend .header-text h1
{
	padding-top: 0;
}
#header-lend .header-text
{
	padding-bottom: 5px;
}
}
@media (max-width: 500px)
{
	#header-lend .nav-tel {
	    padding: 30px 0px;
	    position: sticky;
	    left: inherit;
	}
	#five-reasons .text-five-reasons
	{
    	margin: 30px 0px;
    }
	#five-reasons h2
	{
    	font-size: 22px;
	}
	#five-reasons h4
	{
    	font-size: 18px;
	}
	#all-on-the-sea h2
	{
		margin: 16px auto;
	    font-size: 20px;
	}
	
	.more-ukrainian h2
	{
    	font-size: 22px;
	}
	.more-ukrainian p span
	{
		white-space: pre-line;
	}
	
	#popular-resorts .text-popular-resorts
	{
		padding: 8px;
	}
	#popular-resorts .about-tour p
	{
		font-size: 12px;
	}
	#popular-resorts .text-popular-resorts a
	{
    	font-size: 15px;
    }
    #popular-resorts .text-center
    {
    	margin-top: 20px;
    	margin-bottom: 60px;
    }
	#section-fotter .head-online-selection
	{
    	font-size: 19.5px;
	}
	#section-fotter .col-md-2-5
	{
		width: 100%;
	}
	#section-fotter .col-md-2-5:nth-child(even)
	{
   		padding-left: 0px;
	}
	#section-fotter .col-md-2-5:nth-child(odd)
	{
    	padding-right: 0px;
	}
	#section-fotter .col-md-2-right .input-placeholder
	{
    left: 15px;
	}
	#section-fotter .input-emeil-placeholder .input-placeholder
	{
	top: 150px;
    }
	
	/* form */
	.box-modal-block-form
	{
    display: block;
    }
    #selectionTourForm .col-form
    {
    width: 100%;
    }
    .div-input
    {
    margin-bottom: 0px;
    }
    .about-tour .owl-carousel-slide
    {
    height: 200px;
    }
    .about-tour .owl-carousel-slide img
    {
    height: 200px;
	}
	.input-group
{
    width: 100%;
    margin: -10px auto;
}

.btnSend
{
	margin: 15px auto !important;
}
#header-lend .red-button
{
	margin-top: 20px;
}
#header-lend .header-text h1
{
	padding-top: 0;
}
#header-lend .header-text
{
	padding-bottom: 5px;
}

}
@media (max-width: 400px)
{
    .about-tour .owl-carousel-slide
    {
    height: 150px;
    }
    .about-tour .owl-carousel-slide img
    {
    height: 150px;
	}
	.input-group
{
    width: 100%;
    margin: -10px auto;
}

.btnSend
{
	margin: 15px auto !important;
}
#header-lend .red-button
{
	margin-top: 20px;
}
#header-lend .header-text h1
{
	padding-top: 0;
	font-size: 20px;
}
#header-lend .header-text
{
	padding-bottom: 5px;
	width: 100%;
    margin: 100px auto;
}
.headerInput
{
	margin-top: -30px !important;
}
#header-lend .nav-tel
{
	position: relative;
}
#popular-resorts .head-popular-resorts
{
	font-size: 20px;
}
}